body{
    background-color: cadetblue;
    border-color: aliceblue;
    border-style: solid;
}
h1{
    font-size: 3em;
    background-color: aliceblue;
    text-align: center;
}
h2{
    background-color: aliceblue;
}
h3{
    font-style: italic;
}
img{
    width: 10%;
    height:auto;
    border: 5px ridge aliceblue;
    margin-left: 45%;
}
img:hover{
    width: 15%;
    height:auto;
    border: 8px ridge aquamarine;
    margin-left: 42.5%;
}
dt{
    font-weight: bold;
}
a{
    color: black;
}
a:hover{
    background-color: #ccc;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
.vertical-menu {
    width: 200px;
}
  
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.vertical-menu a:hover {
    background-color: #ccc;
}
  
.vertical-menu a.active {
    background-color: #004C84;
    color: white;
}
