body{
    background-color: cadetblue;
    border-color: aliceblue;
    border-style: solid;
}
h1{
    font-size: 3em;
    background-color: aliceblue;
    text-align: center;
}
h2{
    background-color: aliceblue;
}
h3{
    font-style: italic;
}
img{width: 5%;
    height:auto;
    border: 5px ridge aliceblue;
    margin-left: 47.5%;
}
dt{
    font-weight: bold;
}
a{
    color: black;
}
